.size-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0;
}

.size-container *{
    position: absolute;
}

.size-class{
display: block;
width: 7%;
position:absolute;

}
.container{
    /* padding: 0; */
    margin-right:25px !important; 
    margin-left:25px !important;
    
}
